body {
    background-color: rgba(179, 117, 125, 0.356);
    color: rgba(231, 68, 117, 0.925);
  }
  
  #nav-bar {
    position: relative;
    top: 12cm;
  }
  
  #description {
    font-size: large;
    font-family: Verdana,Arial, Helvetica, sans-serif;
  }
  #table-head {
    color: rgb(123, 22, 206);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana, Gill Sans, Bookman, sans-serif;
    text-shadow: 1px 1px 1px rgb(114, 75, 104);
  }
  
  #t-body {
    color: rgb(66, 50, 50);
    text-align: center;
  }